* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #a0aecd;
  margin: 10% 20%;
}

h1 {
  margin-bottom: 5%;
}

#form {
  display: flex;
  flex-direction: column;
}

.board {
  display: flex;
  gap: 10%;
  justify-items: center;
  padding: 10px;
  height: auto;
}

#score-header {
  display: flex;
  justify-content: space-between;
  padding: 2px 0;
  margin-bottom: 15px;
  flex-grow: 2;
  align-items: center;
}

#input h2 {
  /* margin-bottom: 10px; */
  padding-top: 10px;
}

#list {
  border: 2px solid rgb(29, 27, 27);
}

#list ul li {
  list-style: none;
  padding: 3px;
}

#list ul li:nth-child(2n+1) {
  background: rgb(235, 236, 240);
}

#name,
#score {
  margin: 8px 0;
  padding: 3px;
}

#scores {
  flex-grow: 2;
}

#input {
  flex-grow: 0.5;
}

#refresh,
#submit {
  padding: 2px;
  width: 60px;
  height: 25px;
  box-shadow: 2px 4px;
  cursor: pointer;
}

#form button {
  align-self: flex-end;
}